header {
  display: flex;
  flex-wrap: wrap;
}
.card {
  border: solid 2px black;
  justify-content: space-between;
  width: 300px;
  min-height: 200px;
  padding: 20px;
  text-align: center;
}

.forest {
  background-color: lightgreen;
}

.ocean {
  background-color: lightblue;
}


.mountain {
  background-color: lightgrey;
}

.desert {
  background-color: yellow;
}